{% block semknox_search_content_card_channel_config_credentials %}
    <sw-card class="sw-card--grid"
             :title="$tc('semknox-search.settingForm.credentials.cardTitle')"
             :isLoading="isLoading">

        {% block semknox_search_content_card_channel_config_credentials_card_container %}
		
            <sw-container>

                {% block semknox_search_content_card_channel_config_credentials_card_container_settings %}
                    <div v-if="getSelectedLanguageId" class="semknox-search-settings-credentials-fields">
                        {% block semknox_search_content_card_channel_config_credentials_card_container_settings_customer_idNNN %}
                                    <sw-text-field v-model="CurrentCustomerId"
                                                   :label="$tc('semknox-search.settingForm.credentials.customerId.label')"
                                                   :helpText="$tc('semknox-search.settingForm.credentials.customerId.tooltipText')"
                                                   :error="customerIdErrorState"
                                                   @change="onInputCustomerID">
                                    </sw-text-field>
                        {% endblock %}

                        {% block semknox_search_content_card_channel_config_credentials_card_container_settings_api_keyNNN %}
                                    <sw-text-field v-model="CurrentApiKey"
                                                   :label="$tc('semknox-search.settingForm.credentials.apiKey.label')"
                                                   :helpText="$tc('semknox-search.settingForm.credentials.apiKey.tooltipText')"
                                                   :error="customerIdErrorState"
                                                   @change="onInputApiKey">
                                    </sw-text-field>
                        {% endblock %}

                        {% block semknox_search_content_card_channel_config_credentials_card_container_settings_customer_id %}
                            <sw-inherit-wrapper v-model="ScLangConfigData['semknoxSearch.config.semknoxC01CustomerId']"
                                                :customInheritationCheckFunction="checkTextFieldInheritance">
                                <template #content="props">
                                    <sw-text-field name="semknoxSearch.config.semknoxC01CustomerId"
                                                   :mapInheritance="props"
                                                   :label="$tc('semknox-search.settingForm.credentials.customerId.label')"
                                                   :helpText="$tc('semknox-search.settingForm.credentials.customerId.tooltipText')"
                                                   :value="props.currentValue"
                                                   :error="customerIdErrorState"
                                                   @change="props.updateCurrentValue">
                                    </sw-text-field>
                                </template>
                            </sw-inherit-wrapper>
                        {% endblock %}

                        {% block semknox_search_content_card_channel_config_credentials_card_container_settings_api_key %}
                            <sw-inherit-wrapper v-model="ScLangConfigData['semknoxSearch.config.semknoxC01ApiKey']"
                                                :customInheritationCheckFunction="checkTextFieldInheritance">
                                <template #content="props">
                                    <sw-text-field name="semknoxSearch.config.semknoxC01ApiKey"
                                                   :mapInheritance="props"
                                                   :label="$tc('semknox-search.settingForm.credentials.apiKey.label')"
                                                   :helpText="$tc('semknox-search.settingForm.credentials.apiKey.tooltipText')"
                                                   :value="props.currentValue"
                                                   :error="apiKeyErrorState"
                                                   @change="props.updateCurrentValue">
                                    </sw-text-field>
                                </template>
                            </sw-inherit-wrapper>
                        {% endblock %}

                        {% block semknox_search_content_card_channel_config_credentials_card_container_settings_actions_get_credentials %}
                            <template v-if="activateOnBoardingButton">
                            		<p>{{ $tc('semknox-search.settingForm.credentials.onBoardingText') }}</p>
                                <a class="sw-button" id="siteSearchOnBoardingButton"                                
                                   :disabled="activateOnBoardingButton"
                                   @click="activateOnBoarding">
                                    {{ $tc('semknox-search.settingForm.credentials.button.title') }}
                                </a>
		                            <template v-if="isErrorInOnboarding">
			                            <sw-container class="error-container sw-field__error">
			                            	<p class="semknoxErrorOnboardingTitle" v-html="$tc('semknox-search.settingForm.credentials.button.OnErrortext')">
			                            	<p class="semknoxErrorOnboarding">{{onBoardingErrorMsg}}</p>
			                            </sw-container>
		                            </template>
                            
                                <div id="siteSearchOnBoardingContainerWrapper" v-if="showOnBoardingContainer">
                                	<div id="siteSearchOnBoardingContainer" v-if="showOnBoardingContainer">
                                	</div>
                                </div>
                            </template>

                            
                        {% endblock %}

                        {% block semknox_search_content_card_channel_config_credentials_card_container_settings_enable_search %}
                            <sw-inherit-wrapper v-model="ScLangConfigData['semknoxSearch.config.semknoxActivate']"
                                                :customInheritationCheckFunction="checkBoolFieldInheritance">
                                <template #content="props">
                                    <sw-switch-field name="semknoxSearch.config.semknoxActivate"
                                                     :mapInheritance="props"
                                                     :label="$tc('semknox-search.settingForm.credentials.enableSearch.label')"
                                                     :helpText="$tc('semknox-search.settingForm.credentials.enableSearch.tooltipText')"
                                                     :disabled="props.isInherited || !aclAllowed('semknox_search.editor')"
                                                     :value="props.currentValue"
                                                     @change="props.updateCurrentValue">
                                    </sw-switch-field>
                                </template>
                            </sw-inherit-wrapper>
                        {% endblock %}

                        {% block semknox_search_content_card_channel_config_credentials_card_container_settings_enable_update %}
                            <sw-inherit-wrapper v-model="ScLangConfigData['semknoxSearch.config.semknoxActivateUpdate']"
                                                :customInheritationCheckFunction="checkBoolFieldInheritance">
                                <template #content="props">
                                    <sw-switch-field name="semknoxSearch.config.semknoxActivateUpdate"
                                                     :mapInheritance="props"
                                                     :label="$tc('semknox-search.settingForm.credentials.enableUpdate.label')"
                                                     :helpText="$tc('semknox-search.settingForm.credentials.enableUpdate.tooltipText')"
                                                     :disabled="props.isInherited || !aclAllowed('semknox_search.editor')"
                                                     :value="props.currentValue"
                                                     @change="props.updateCurrentValue">
                                    </sw-switch-field>
                                </template>
                            </sw-inherit-wrapper>
                        {% endblock %}

                        {% block semknox_search_content_card_channel_config_credentials_card_container_settings_update_blocksize %}
                            <sw-inherit-wrapper v-model="ScLangConfigData['semknoxSearch.config.semknoxUpdateBlocksize']"
                                                :customInheritationCheckFunction="checkTextFieldInheritance">
                                <template #content="props">
                                    <sw-number-field name="semknoxSearch.config.semknoxUpdateBlocksize"
                                                   :mapInheritance="props"
                                                   :label="$tc('semknox-search.settingForm.credentials.updateBlocksize.label')"
                                                   :helpText="$tc('semknox-search.settingForm.credentials.updateBlocksize.tooltipText')"
                                                   :disabled="props.isInherited || !aclAllowed('semknox_search.editor')"
                                                   :value="props.currentValue"
                                                   :min=20
                                                   :max=100000
                                                   @change="props.updateCurrentValue">
                                    </sw-text-field>
                                </template>
                            </sw-inherit-wrapper>
                        {% endblock %}



                    </div>
                {% endblock %}
            </sw-container>
        {% endblock %}
    </sw-card>
{% endblock %}

{% block semknox_search_content_card_channel_config_preferences %}
    <sw-card class="sw-card--grid"
             :title="$tc('semknox-search.settingForm.standardprefs.cardTitle')"
             :isLoading="isLoading">

        {% block semknox_search_content_card_channel_config_preferences_card_container %}
		
            <sw-container>

                {% block semknox_search_content_card_channel_config_preferences_card_container_settings %}
                    <div class="semknox-search-settings-credentials-fields">
                        {% block semknox_search_content_card_channel_config_preferences_card_container_settings_crontime %}
                                    <sw-text-field v-model="CurrentCustomerId"
                                                   :label="$tc('semknox-search.settingForm.credentials.customerId.label')"
                                                   :helpText="$tc('semknox-search.settingForm.credentials.customerId.tooltipText')"
                                                   :error="customerIdErrorState"
                                                   @change="onInputCustomerID">
                                    </sw-text-field>
                        {% endblock %}

                        {% block semknox_search_content_card_channel_config_credentials_card_container_settings_croninterval %}
                                    <sw-text-field v-model="CurrentApiKey"
                                                   :label="$tc('semknox-search.settingForm.credentials.apiKey.label')"
                                                   :helpText="$tc('semknox-search.settingForm.credentials.apiKey.tooltipText')"
                                                   :error="customerIdErrorState"
                                                   @change="onInputApiKey">
                                    </sw-text-field>
                        {% endblock %}


                    </div>
                {% endblock %}
            </sw-container>
        {% endblock %}
    </sw-card>
{% endblock %}
